.container {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--main-light-grey);
}

.mobile-container {
	position: relative;
	height: 80%;
	aspect-ratio: 9 / 16;
	min-width: 300px;
	background-color: var(--main-dark-grey);
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}
