.main-container {
	width: 100%;
	height: 100%;

	color: var(--main-white);

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0 20px;
}

.title-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.subtitle {
	text-align: left;
}

/* Search */
.search-container {
	width: 100%;
	display: flex;
	color: var(--main-white);
}

/* Categories */
.categories-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.category {
	position: relative;
	width: calc(50% - 10px);
	background-color: var(--main-light-grey);
	height: 70px;
	margin-bottom: 20px;
	border-radius: 20px;
	padding: 10px 20px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.category-taskno {
	font-size: 14px;
	color: var(--main-red);
	margin-top: 3px;
	font-weight: 400;
}

/* Tasks  */
.task-container {
	width: 100%;
}

.current-task-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.currenttask-title {
	font-weight: 800;
}

.currenttask-container {
	position: relative;
	width: 100%;
	min-width: 100%;
	height: max-content;
	padding: 15px;
	padding-top: 10px;
	background-color: var(--main-light-grey);
	border-radius: 20px;
	word-break: break-all;
	margin-bottom: 20px;
}

.cross {
	font-weight: 400;
	position: absolute;
	top: 3px;
	right: 10px;
}

.cross-static {
	font-weight: 400;
}
